#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASS "your_wifi_password"
#define NOSTR_PRIVKEY "your_nostr_private_key_64char_hex"
#define NOSTR_RELAY_HOST "relay.example.com"

#endif

